* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f5f7fa;
}

.sidebar {
    width: 270px;
    background-color: #2f7df6;
    padding: 20px;
    color: white;
}

.sidebar h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 16px;
    height: 35px;
    border-radius: 3px;
    padding-left: 15px;
}

.sidebar a:hover {
    background-color: #296acc;
    height: 40px;
    width: 105%;
    transition: all 0.4s ease;
}

.sidebar a.active {
    background-color: #296acc;
    border: 2px solid #799acc;
    color: #0d3269;
}

.seccio{
    flex-grow: 1;
    padding: 50px;
}

.contengut {
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0%;
}

.contengutIndex {
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 0%;
}

.contengut h1, .contengutIndex h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.contengutIndex h2{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-box {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.form-box label {
    margin-bottom: 10px;
    font-weight: bold;
}

.form-box input[type="text"],
.form-box input[type="date"],
.form-box select,
.form-box textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-box input[type="color"] {
    width: 20%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 35px;
}

.form-box button {
    background-color: #2f7df6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.form-box button:hover {
    background-color: #2262c6;
}

.categoriaBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 10px auto;
}

.infoDiv{
    display: flex;
    align-items: center;
}

.cercleColor{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #555;
    background-color: #fff;
}

.spanSize{
    font-size: 14px;
}

.botoEliminar{
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
}

.botoEliminar:hover{
    background-color: #c0392b;
}

.capçalera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.botoBlau{
    background-color: #2f7df6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

#nomArxiu{
    height: 100%;
    margin-right: 10px;
    padding-left: 5px;
    height: 35px; 
}

#tasques-pendents, #tasques-acabades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 15px;
    margin-bottom: 40px;
    max-width: 1200px;
}

/*ojo per aqui*/

.tasca {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 450px;
    color: #333;
    height: 160px;
}

.tasca .titol{
    display: flex; 
    justify-content: space-between;
}

.tasca .categoria {
    display: inline-block;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom:10px;
}

.tasca .data {
    font-size: 12px;
    margin-bottom: 10px;
    color: #555;
}

.tasca .descripcio {
    font-size: 14px;
    margin-bottom: 10px;
}

.tasca .icones {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.tasca #marcar-completat{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.esborrar {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.tasca.acabada {
    background-color: #e2e3e5;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 450px;
    height: 160px;
}


/* Tasques per prioritat */
.tasca.alta {
    background-color: #f8d7da;
}

.tasca.mitjana {
    background-color: #fff3cd;
}

.tasca.baixa {
    background-color: #d4edda;
}

.divGrafic {
    width: 80%; 
    margin: 20px auto;
}